@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

section {
  @apply py-20;
}

.slick-dots {
  color: #1A21BC;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #1A21BC !important;
}

.slick-dots li button:before {
  font-size: 11px !important;
}

.information-section {
  background-color: #0f3f88;
  padding: 60px 20px;
}

.media-section {
  background-color: #ffffff;
  padding: 60px 20px;
}